<div class="header">
    <h1>UH Dining | Sugarland</h1>
    <nav class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a href="#">Menu</a>
          <div class="dropdown-content">
            <a href="sprice-symph-grill-order.html">Spice Symphony Grill</a>
            <a href="order/urban-spoon-order.html">Urban Spoon</a>
            <a href="order/the-palate-pavillion-order.html">The Patate Pavillion</a>
            <a href="order/ember-and-sage-order.html">Ember and Sage</a>
            <a href="order/best-harvest-kitchen-order.html">Best Harvest Kitchen</a>
            <a href="order/fusion-heat-order.html">Fusion Heat</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#">Hours and Location</a>
          <div class="dropdown-content">
            <a href="#">Hours and Map</a>
            <a href="#">Holiday Hours</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#">Food Insecurity</a>
          <div class="dropdown-content">
            <a href="https://uh.edu/csac/cougar-cupboard/">Cougar Cupboard</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#">About Us</a>
          <div class="dropdown-content">
            <a href="#">Mission</a>
            <a href="#">Careers</a>
            <a href="#">Sustainability</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#">More</a>
          <div class="dropdown-content">
            <a href="https://dineoncampus.com/uh/meal-plan-eligibility">Meal Plans</a>
            <a href="https://www.uh.edu/af-university-services/cougarcard/">Cougar Cards</a>
            <a href="#">Printable Materials</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
